@font-face {
    font-family: font;
    src: url(font.ttf);
}

html {
    user-select: none;
    font: 1vw font;
}

body {
    background-color: rgb(25, 24, 25);
    color: lightgray;
}

#currencycontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 2em;
    margin: 0 0.9em;
}

#tscontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    margin: 1.25em;
    font-size: 0.75vw;
    text-align: center;
}

#dimensioncontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    display: flex;
    height: 20em;
    width: 20vw;
    padding: 1em;
    flex-direction: column;
    line-height: 0.25em;
    float: left;
    margin: 0 1em;
}

.buttondisabled {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(0, 0, 0);
    color:gray;
    width: 15.5vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 3vw;
    line-height: 0em;
}

.buttonenabled {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(67, 180, 76);
    border-radius: 0.3em;
    color:white;
    width: 15.5vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 3vw;
    line-height: 0em;
    transition-duration: 0.25s;
}

.buttonenabled:hover {
    background-color: rgb(87, 255, 101);
    border: 0.1em solid rgb(87, 255, 101);
    color:black;
    width: 15.5vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 3vw;
    line-height: 0em;
    box-shadow: 0.25em 0.25em 2em black;
    transform: scale(1.05,1.05);
}

#prestigecontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    height: 6.5em;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em 1em 1em;
    line-height: 0.25em;
    margin: 0 1em;
}

#dimboost {
    position: relative;
    top: 1.4em;
}
#galaxy {
    position: relative;
    top: 1.4em;
}

#navcontainer {
    position: absolute;
    top: 46em;
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    height: 2.8em;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    line-height: 0.25em;
    margin: 0 1em;
    width: 95.9em;
}

.antimatternav {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(255, 36, 36);
    border-radius: 0.3em;
    color:white;
    width: 8vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 2em;
    line-height: 0em;
    float: left;
    margin: 0.5em;
    transition-duration: 0.25s;
}

.antimatternav:hover {
    background-color: rgb(255, 36, 36);
    color: black;
    transform: scale(1.05,1.05);
}

.achievementnav {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(89, 255, 125);
    border-radius: 0.3em;
    color:white;
    width: 8vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 2em;
    line-height: 0em;
    float: left;
    margin: 0.5em;
    transition-duration: 0.25s;
}

.achievementnav:hover {
    background-color: rgb(89, 255, 125);
    color: black;
    transform: scale(1.05,1.05);
}

.statisticsnav {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(99, 167, 255);
    border-radius: 0.3em;
    color:white;
    width: 8vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 2em;
    line-height: 0em;
    float: left;
    margin: 0.5em;
    transition-duration: 0.25s;
}

.statisticsnav:hover {
    background-color: rgb(99, 167, 255);
    color: black;
    transform: scale(1.05,1.05);
}

.infinitynav {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(231, 196, 0);
    border-radius: 0.3em;
    color:rgb(255, 255, 255);
    width: 8vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 2em;
    line-height: 0em;
    float: left;
    margin: 0.5em;
    transition-duration: 0.25s;
}

.infinitynav:hover {
    background-color: rgb(231, 196, 0);
    color: black;
    transform: scale(1.05,1.05);
}

#antimatter {
    color: white;
    text-shadow: 0 0 0.1em rgb(255, 177, 177), 0 0 0.25em rgb(255, 90, 90), 0 0 0.5em rgb(255, 0, 0);
}

.ip {
    color: white;
    text-shadow: 0 0 0.1em rgb(255, 250, 177), 0 0 0.25em rgb(255, 211, 90), 0 0 0.5em rgb(255, 145, 0);
}

.crunch {
    background-color: rgba(0,0,0,0.25);
    border: 0.2em solid rgb(231, 177, 0);
    border-radius: 0.5em;
    color:rgb(255, 255, 255);
    width: 30vw;
    font-size: 1vw;
    font-family: inherit;
    height: 8em;
    float: left;
    margin: 0.5em;
    line-height: 2em;
    transition-duration: 0.25s;
}

.crunch:hover {
    transform: scale(1.05,1.05);
}

.crunchdisabled {
    background-color: rgba(0,0,0,0.25);
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 0.5em;
    color:rgb(128, 128, 128);
    width: 30vw;
    font-size: 1vw;
    font-family: inherit;
    height: 8em;
    float: left;
    margin: 0.5em;
    line-height: 2em;
    transition-duration: 0.25s;
}

#crunchcontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    margin: 1.25em;
    font-size: 0.75vw;
    height: 15em;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#infupgcontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    margin: 1.25em;
    padding: 1em;
    font-size: 0.75vw;
    height: 16.25em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.infupgenabled {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(231, 177, 0);
    border-radius: 0.3em;
    color:white;
    width: 18vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 10vw;
    margin: 0em;
    line-height: 2em;
    padding: 1em;
    margin: 1em;
    transition-duration: 0.25s;
}

.infupgenabled:hover {
    background-color: rgb(231, 177, 0);
    border: 0.1em solid rgb(231, 177, 0);
    color:black;
    width: 18vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 10vw;
    line-height: 2em;
    padding: 1em;
    margin: 1em;
    box-shadow: 0.25em 0.25em 2em black;
    transform: scale(1.05,1.05);
}

.infupgdisabled {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(0, 0, 0);
    color:gray;
    width: 18vw;
    font-size: 0.6vw;
    font-family: inherit;
    padding: 1em;
    margin: 1em;
    height: 10vw;
    line-height: 2em;
}

.infupgbought {
    background-color: rgba(0, 104, 9, 0.25);
    border: 0.1em solid rgb(0, 231, 69);
    color:white;
    width: 18vw;
    font-size: 0.6vw;
    font-family: inherit;
    padding: 1em;
    margin: 1em;
    height: 10vw;
    line-height: 2em;
}

.infdimenabled {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(231, 177, 0);
    border-radius: 0.3em;
    color:white;
    width: 15.5vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 3vw;
    margin: 0em;
    line-height: 0em;
    transition-duration: 0.25s;
}

.infdimenabled:hover {
    background-color: rgb(231, 177, 0);
    border: 0.1em solid rgb(231, 177, 0);
    color:black;
    width: 15.5vw;
    font-size: 0.6vw;
    font-family: inherit;
    height: 3vw;
    line-height: 0em;
    box-shadow: 0.25em 0.25em 2em black;
    transform: scale(1.05,1.05);
}

#achievementscontainer {
    background-color: rgba(0,0,0,0.25);
    border: 0.15em solid black;
    margin: 1.25em;
    font-size: 0.75vw;
    height: 12em;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ach {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(255, 85, 85);
    padding: 0.8em;
    border-radius: 0.3em;
    margin: 1em;
    height: 7em;
    width: 12em;
}

.achget {
    background-color: rgba(0,0,0,0.25);
    border: 0.1em solid rgb(85, 255, 108);
    padding: 0.8em;
    border-radius: 0.3em;
    margin: 1em;
    height: 7em;
    width: 12em;
}