@font-face {
    font-family: 'default';
    src: url('font.ttf');
}

body {
    all: unset;
    background-color: rgb(15, 14, 16);
    font-family: 'default';
    user-select: none;
    line-height: 150%;
}

.antimattertext {
    all: unset;
    text-align: center;
    font-size: 1em;
    color: white;
}

.antimattertextglow {
    all: unset;
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 0.25em rgb(255, 167, 167), 0 0 0.5em rgb(255, 47, 47);
}

.antimatterpersectext {
    font-size: 0.75em;
    color: lightgray;
}

#topcontainer {
    max-width: 100em;
    height: 5em;
    text-align: center;
    left: 50%;
}

.tickspeed {
    font-size: 0.75em;
    color: lightgray;
}

.tickspeedeffect {
    font-size: 0.75em;
    color: lightgray;
}

.buybuttondisabled {
    all: unset;
    font-size: 0.75em;
    color: lightgray;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid;
    text-align: center;
    border-width: 0.1em;
    border-color: rgb(128, 64, 64);
    width: 25em;
    height: auto;
    min-height: 1.5em;
    display: inline;
    position: relative;
    flex-wrap: nowrap;
    transition-duration: 0.333s;
}

.buybuttonenabled {
    all: unset;
    font-size: 0.75em;
    color: white;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid;
    text-align: center;
    border-width: 0.1em;
    border-color: rgb(64, 128, 64);
    width: 25em;
    height: auto;
    min-height: 1.5em;
    display: inline;
    flex-wrap: nowrap;
    transition-duration: 0.333s;
}

.buybuttonenabled:hover {
    background-color: rgb(128, 255, 128);
    color: black;
    transform: scale(1.1, 1.1);
}

p {
    font-size: 0.25em;
    line-height: 0em;
    color: rgba(0, 0, 0, 0.0);
}

#dimensioncontainer {
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    width: auto;
    height: 20em;
}

.dimensioninfo {
    color: lightgray;
    font-size: 1.25em;
}

.stupid {
    position: relative;
    float: right;
    top: -0.1em;
}

#dimorder {
    position: relative;
    max-width: 1em;
    bottom: 1em;
    left: -1.5em;
}

#dimamount {
    position: relative;
    max-width: 1em;
    bottom: 18.05em;
    left: 12.5em;
}

#dimbought {
    position: relative;
    max-width: 1em;
    left: 23.5em;
    bottom: 35.1em;
}

#dimmult {
    position: relative;
    max-width: 1em;
    left: 34em;
    bottom: 52.22em;
}

#prestigecontainer {
    position: relative;
    right: 0.5em;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    width: auto;
    min-width: 116.5em;
    height: 5em;
}

#navcontainer {
    position: absolute;
    right: 0.5em;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    width: 97.35vw;
    height: 1em;
    top: 93vh;
}

#antimatterbutton {
    all: unset;
    font-size: 1em;
    color: white;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid;
    text-align: center;
    border-width: 0.1em;
    border-color: rgb(255, 49, 49);
    width: 10em;
    height: auto;
    min-height: 2em;
    display: inline;
    flex-wrap: nowrap;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

#antimatterbutton:hover {
    color: black;
    background-color: rgb(255, 49, 49);
    transform: scale(1.1, 1.1);
}

#achievementsbutton {
    all: unset;
    font-size: 1em;
    color: white;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid;
    text-align: center;
    border-width: 0.1em;
    border-color: rgb(64, 255, 96);
    width: 10em;
    height: auto;
    min-height: 2em;
    display: inline;
    flex-wrap: nowrap;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

#achievementsbutton:hover {
    color: black;
    background-color: rgb(64, 255, 96);
    transform: scale(1.1, 1.1);
}

#achievementstab {
    text-align: center;
}

#achievementscontainer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    width: 44.21em;
    height: 5em;
    text-align: left;
}

.achievementunseen {
    background-color: rgb(64, 255, 255); border-color: rgb(64, 255, 255); color: black;
}

#bigcrunchbutton {
    all: unset;
    font-size: 8em;
    position: relative;
    top: 25vh;
    color: black;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    text-align: center;
    border-width: 0.15em;
    border-color: rgb(255, 159, 34);
    width: auto;
    height: auto;
    min-height: 2em;
    display: inline;
    flex-wrap: nowrap;
    padding: 0.2em 1em;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

#bigcrunchbutton:hover {
    transform: scale(1.5, 1.5);
}

#infinitybutton {
    all: unset;
    font-size: 1em;
    color: white;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid;
    text-align: center;
    border-width: 0.1em;
    border-color: rgb(255, 187, 0);
    width: 10em;
    height: auto;
    min-height: 2em;
    display: inline;
    flex-wrap: nowrap;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

#infinitybutton:hover {
    color: black;
    background-color: rgb(255, 187, 0);
    transform: scale(1.1, 1.1);
}

.ipglow {
    all: unset;
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 0.25em rgb(255, 182, 122), 0 0 0.5em rgb(255, 123, 47);
}

#infupgcontainer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    width: auto;
    height: auto;
    text-align: center;
}

.infupgdisabled {
    all: unset;
    font-size: 0.75em;
    position: relative;
    color: gray;
    border-radius: 0.5em;
    background-color: rgb(0, 0, 0);
    border: solid;
    text-align: center;
    border-width: 0.15em;
    border-color: black;
    width: 50em;
    height: 6em;
    min-height: 2em;
    display: inline;
    word-wrap: normal;
    padding: 1em;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

.infupgenabled {
    all: unset;
    font-size: 0.75em;
    position: relative;
    color: white;
    border-radius: 0.5em;
    background-color: black;
    border: solid;
    text-align: center;
    border-width: 0.15em;
    border-color: rgb(255, 187, 34);
    width: 50em;
    height: 6em;
    min-height: 2em;
    display: inline;
    word-wrap: normal;
    padding: 1em;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

.infupgenabled:hover {
    background-color: rgb(255, 187, 0);
    color:black;
    transform: scale(1.1, 1.1);
}

.infupgbought {
    all: unset;
    font-size: 0.75em;
    position: relative;
    color: white;
    border-radius: 0.5em;
    background-color: rgb(29, 53, 25);
    border: solid;
    text-align: center;
    border-width: 0.15em;
    border-color: rgb(41, 255, 34);
    width: 50em;
    height: 6em;
    min-height: 2em;
    display: inline;
    word-wrap: normal;
    padding: 1em;
    transition-duration: 0.333s;
    position: relative;
    bottom: 0.5em;
}

#discord {
    position: relative;
    bottom: 2em;
}

html {
    margin: 0.5em;
}

.center {
    display: table;
    margin: auto;
}